.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(1, 1, 1, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/login.jpeg");
  background-size: cover;
}
.logincard{
  display: flex;
  justify-content: center;
  width: 400px;
  align-items: center;
  flex-direction: column;
  padding : 20px 30px;
  background-color : #fff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.loginTitle {
  font-size: 50px;
  font-weight: 700;
}

.loginForm {
  width : 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(96, 173, 244);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.registertext{
  margin : 10px 0px;
}
